<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="CServer.ServiceManager" behaviorConfiguration="mexBehavior">
        <endpoint address="CServer.ServiceManager" binding="basicHttpBinding" contract="CServer.ICServiceManager"></endpoint>
        <endpoint address="CServer.ServiceManager" binding="netTcpBinding" contract="CServer.ICServiceManager"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:4533/"/>
            <add baseAddress="net.tcp://localhost:4534/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <add name="CamozziEntities" connectionString="metadata=res://*/CamozziModel.csdl|res://*/CamozziModel.ssdl|res://*/CamozziModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CSRV;initial catalog=Camozzi;persist security info=True;user id=SRVAdmin;password=12321;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>